<h1>Add a new Comment!</h1>
<%= form_for [@post, @comment] do |f| %>

<br>

    <div>
        <%= f.label :content %>
        <%= f.text_field :content, :size => 150 %>
    </div>
<br>
    <div>
        <%= f.label :anonymous %>
        <%= f.check_box :anonymous %> <br />

    </div>
<br>

    <%= f.submit "Add new Comment!" %>

  <% end %>
<br>
  <%= link_to "Back to the post!", posts_path %>
