<div class = "mainPageCss">
<div class="row">
  <h1>Sign Up</h1>
  <div class="col-md-7">
<%= form_for @user do |f| %>
  <div class = "center">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %>
  </div>
  <div class = "center">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class = "center">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class = "center">
    <%= f.label :password_confirm %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class = "center">
    <%= f.submit "Sign up!" %>
  </div>
<% end %>
</div>
      <div class="col-md-5">
        <div class="logo"><%= image_tag 'GA.jpg' %></div>
      </div>

<!-- <div class="logoPic"></div> -->
</div>
</div>
