<div id="newPost">New Post</div>
<%= form_for @post do |f| %>

    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
<br>

    <div id="newPostContent">
        <%= f.label :content %>
        <%= f.text_field :content, :size => 150 %>
    </div>
<br>

    <div>
        <%= f.label :anonymous %>
        <%= f.check_box :anonymous %> <br />

    </div>

<br>
<br>
    <%= f.submit "Add new Post!" %>

<% end %>
<br>
<br>
<%= link_to "Back to the list!", posts_path %>
